﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="contactus.aspx.cs" Inherits="contactus" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <title>Contact Us</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/quiz.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    
</head>
<body>
    <form id="form1" runat="server">
   <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="Default.aspx"><h1>Food Nutrition</h1></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
						<li class=active><a  href="Default.aspx">Home</a></li><li class=><a  href="nutriinfo.aspx">Nutrition Info</a></li><li class=><a  href="Chitragupt/Manager.aspx">Registration</a></li><li class=><a  href="Chitragupt/Default.aspx">Login</a></li><li class=><a  href='#'>Contact us</a></li>                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->
    <section>
    <section id="login" class="container">
        <center><h1>Contact Us</h1></center>
        <div class="row contact-wrap wow zoomIn"> 
			<div class="status alert alert-success" style="display: none"></div>
				<div class="col-sm-4 col-sm-offset-4">
										<%--<form id="login_form" class="login_form shadow_box" method="post">--%>
                                        <div class="login_form shadow_box">
						<div class="form-group">
							<center><label>About Developers</label></center>
                            <br />
                            <label>Rahul Jograna</label>
                           
                            </div>
						<br />
                        <br />  
					<%--</form>--%> 
				</div>
		</div><!--/.row-->
    </section>
    </section>
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a  href="#">food nutrition @ 2K17</a>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                    <li><a href="Chitragupt/Default.aspx">Login</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nutrition Info</a></li>
                        <li><a href="#">Registration</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    </form>
</body>
</html>
