﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="nutriinfo.aspx.cs" Inherits="nutriinfo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <title>Nuitrition Info</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/quiz.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->      
</head>
<body>
    <form id="form1" runat="server">
   <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                   <%-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>--%>
                    <a class="navbar-brand" href="Default.aspx"><h1>Food Nuitrition</h1></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                     <ul class="nav navbar-nav">
						    <li class=><a  href="Default.aspx">Home</a></li><li class=><a  href="Chitragupt/Manager.aspx">Registration</a></li><li class=><a  href="Chitragupt/Default.aspx">Login</a></li><li class=><a  href="contactus.aspx">Contact Us</a></li></ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

    <section id="login" class="container" style="font-size:large; font-family:Times New Roman;">
        <center><h1>Food Nuitrition Information</h1></center>
        <div class="row contact-wrap wow zoomIn"> 
			<div class="status alert alert-success" style="display: none"></div>
				<%--<div class="col-sm-4 col-sm-offset-4">--%>
                   <%--<div class="login_form shadow_box">--%>
						<div >
  <asp:Repeater ID="Repeater2" runat="server">
  <ItemTemplate>
  <div class="container">
    
        <table class="nav-justified" cellpadding="10" cellspacing="10"  align="left" style="font-family: 'MV Boli'; ">
            <tr>
                <td rowspan="7" style="height:200px; width:200px;">
                    <asp:Image ID="Image2" runat="server" ImageUrl='<%# Eval("avatar") %>' Height="200px" Width="200px" />
                    </td>
                <td style="margin-right:5px;">
                    Food Name :  <%#Eval("fname") %></td>
            </tr>
            <tr>
                <td>
                    Food Name and Energy : <%#Eval("fname") %> <%#Eval("energy") %></td>
            </tr>
            <tr>
                <td>
                    Sugar : <%#Eval("sugar") %></td>
            </tr>
            <tr>
                <td>
                    Vitamin : <%#Eval("vitamin") %></td>
            </tr>
            <tr>
                <td style="background-color: #CCCCCC; color: #FF0000;">
                    Calcium : <%#Eval("calcium") %></td>
            </tr>
            <tr>
                <td>
                    iron : <%#Eval("iron") %></td>
            </tr>
            <tr>
                <td>
                    Fat : <%#Eval("fat") %></td>
            </tr>
        </table>
    </div>
    <hr />
  </ItemTemplate>
    </asp:Repeater>  
    </div>
             
                     <%--</div>--%>
				<!-- -->
				<%--</div>--%>
		</div><!--/.row-->
    </section>




    <footer id="footer" class="midnight-blue" style="margin-top:50px; height:100px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a target="_blank" href="#" style="margin-top:50px;">Food Nuitrition @ 2K16</a>
                </div>
                <div class="col-sm-6">
                   <ul class="pull-right">
                    <li><a href="Chitragupt/Default.aspx">Login</a></li>
                        <li><a href="Default.aspx">Home</a></li>
                        <li><a href="Chitragupt/Manager.aspx">Registration</a></li>
                        
                        <li><a href="contactus.aspx">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    </form>
</body>
</html>
